<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link th:href="@{css/login/login-style.css}" rel="stylesheet"/>
<head>
    <title>登录页面</title>
</head>
<script th:src="@{js/jquery.js}"></script>
<script>
    function init() {
        $(".message").toggle();
        $("button").toggle();
    }
</script>
<body>
<div class="button" onclick="init()">
    <input type="button" value="Give Me Your Hands For Freedom !">
</div>
<div class="message warning" style="display: none" >
    <div class="inset">
        <div class="login-head">
            <div><h1>FREEDOM FOR YOU</h1></div>
            <form action="#" th:action="@{/mainUser/userLogin}" th:object="${mainUser}" method="post">
                <li>
                    <a href="#" class=" icon user"></a>
                    <input type="text" class="text" th:field="*{userName}" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'userName';}">
                </li>
                <li>
                    <a href="#" class="icon lock"></a>
                    <input type="password" th:field="*{userPassword}" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Password';}">
                </li>

                <div class="submit">
                    <input type="submit" value="Sign in">
                    <h4><a href="#">Lost your Password ?</a></h4>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
    <!--- footer --->
    <div class="footer">
        <p>Copyright &copy; guoysFreedom</p>
    </div>
</div>

</body>
</html>